# Virtual Environment
venv/
env/
.venv/

# Database
db.sqlite3
*.sqlite3

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Django
*.log
local_settings.py
media/

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db